:root {
  --black: #161e25;
  --white: white;
  --error: #ff785a;
  --blue: #5383c7;
  --shadow-modal: 0 0 8px 0 rgb(34 60 80 / 20%);
}

:root[data-theme="light"] {
  --background: #f2f3f3;
  --input: #fbfbfb;
  --input-border: #bfbfbf;
  --input-color: #202020;
  --input-placholder: #626364;
  --icon-color: #212121;
  --icon-bg: #e6e6e6;
  --text: #202020;
  --text-second: #5b5c5e;
  --conversation-active: #419fd9;
  --conversation-hover: #e8e8e8;
  --conversation-ripple: #4d4d4d;
  --blue-hover: #1d4e95;
  --border: #bfbfbf;
  --scroll-track: #cbcbcb;
  --scroll-thumb: #656565;
}

:root[data-theme="dark"] {
  --background: #202020;
  --input: #2d2e2f;
  --input-border: #404040;
  --input-color: #fff;
  --input-placholder: #bfbfbf;
  --icon-color: #fff;
  --icon-bg: #414141;
  --text: #fff;
  --text-second: #a3a6aa;
  --conversation-active: #1a324d;
  --conversation-hover: #2c2c2c;
  --conversation-ripple: #808080;
  --blue-hover: #246bce;
  --border: #555;
  --scroll-track: #3f4242;
  --scroll-thumb: #b6b6b6;
}
